/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.red {
  color: rgb(227, 94, 107);
}

.v-middle {
  vertical-align: middle;
}

.mat-card form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.mat-card button {
  margin-top: 20px;
  margin-right: 15px;
}

.msg-success {
  background-color: hsl(140, 50%, 50%);
  color: #fff;
}

.msg-error {
  background-color: hsl(354, 70%, 63%);
  color: #fff;
}
